<!DOCTYPE html>
<head>
  <meta charset="utf-8">
  <title>Snappy theme</title>
  {{ content_for_header }}
  {% render 'script-tags' %}
</head>

<body>
  <div id="root">
    {{ content_for_layout }}
  </div>
</body>